{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block content %}
<div>
    <h1>Home</h1>
    <p>
        Welcome to this page! Here, you can discover how to unlock all the achievements in various games. Share your own achievements and the strategies you used to get them, and connect with others in the gaming community!
    </p>
    <p>
        just go to Posts tab to see some achievements or create a new post if you want to share how did you get some of them!
    </p>
</div>
{% endblock content %}